
.DS_Store

# project files
.vscode/
.idea/

.git/

# modules
node_modules/
*.log

#build
.travis.yml
build/

#dev
test/
.eslintrc.js
.eslintignore
.babelrc
.gitattributes
.gitlab-ci.yml
jsconfig.json
tsconfig.json
public/
scripts/
src/

package-lock.json
yarn.lock
